.about {
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.about-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

}

.about-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-right {
    flex: 1
}

.a-award-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.a-title {
    font-weight: 400;
}

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-weight: 300;
}

.a-award {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts {
    width: 70%;
}

.a-award-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}



@media screen and (max-width:480px) {
    .about {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .about-left {
        width: 100%;
    }

    .aabout-card {
        height: 30vh;
    }

    .about-card.bg,
    .a-award {
        display: none;
    }

    .about-right {
        padding: 20px;
    }
}